# Flutter/Dart/Pub related
.dart_tool/
.packages
.pub-cache/
build/
.flutter-plugins
.flutter-plugins-dependencies
.melos_tool/

# Obfuscation related
app.*.symbols

# IDEs and editors
.idea/
.vscode/
*.iml

# Platform-specific
android/.gradle/
android/captures/
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
macos/Flutter/Flutter.framework
macos/Flutter/Flutter.podspec

# Web
web/.dart_tool/

# Symbolication
symbols/

# Misc
*.log
